.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  max-width: 15.625rem;
  height: 100%;
  background: #0b0b0b;
  padding: 1rem 0;
}

.sidebar > div {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

div.schedule-filter {
  margin-top: 0;
}

div.status-filter {
  margin-bottom: 0;
}

.sidebar > div button {
  display: flex;
  align-items: center;
  background: #0b0b0b;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  text-align: start;
  cursor: pointer;
  padding: 0.5rem 0 0.5rem 1.5rem;
  transition: background 0.3s;
  border-radius: 0.3rem;
}

.sidebar > div button:hover {
  background: #484848;
}

.sidebar > div img {
  filter: invert(23%) sepia(71%) saturate(0%) hue-rotate(249deg)
    brightness(100%) contrast(10%);
  height: 1.7rem;
  margin-right: 1rem;
}

.lists-header {
  padding-left: 1.5rem;
  font-weight: bold;
  color: #858585;
}

.sidebar > hr {
  width: 90%;
  margin: 0;
  padding: 0;
  color: #484848;
  opacity: 0.1;
}

.sidebar > div button.active {
  background: #484848a1;
}

.task-count {
  color: #858585;
  font-size: 0.9rem;
  margin-left: auto;
  margin-right: 1rem;
}
